@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body {
  font-family: 'Roboto', 'Verdana', sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.images-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
}

.blank {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header kısmına ait stil kodları */
.top-line {
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  border-top: 2px solid #e7e9fc;
}

/* Üst logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  margin-right: -50px;
}

.accent {
  color: #4d5ae5;
}

/* Navigasyon */
.nav > ul {
  display: flex;
  gap: 40px;
}

.nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

li > .active:active {
  color: #404bbf;
  text-decoration: underline;
}

/* Adres */
.adres {
  display: flex;
  gap: 40px;
}

.adres a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
}

.adres a:hover,
.adres a:focus {
  color: #404bbf;
}

/* Main kısmına ait stil kodları */
/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  background: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  padding-top: 188px;
  align-items: center;
  color: #ffffff;
}

.button {
  /* Buton içi yazı stili */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  /* Buton stili */
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-right: auto;
  margin-bottom: 188px;
  margin-left: auto;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* Features */
.features li {
  width: 264px;
}

.features > ul {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team h3:hover,
.team h3:focus {
  color: #404bbf;
}

.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Team */
.team {
  background: #f4f4fd;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  margin-top: 72px;
  margin-bottom: 120px;
  justify-content: space-around;
}

/* EĞİTMEN İÇİN NOT: body etiketi içerisine color:#434455 stilini eklememe rağmen siyah renk uygulandığı için bu kısımlara tekrardan renk kodu girdim. */
.team-list > li {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  background-color: #ffffff;
}

/* Portfolyo */
.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 72px;
  row-gap: 16px;
}

.portfolio-list > li {
  width: 360px;
  color: #434455;
}

.brd {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* Footer kısmına ait stil kodları */
.footer {
  background: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
